.card {
  color: rgba(0, 0, 0, 0.7) !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  
  &.saved {
    background-color: rgba(0, 0, 0, 0.08);
  }

  &-header {
    padding: 15px 15px 0;
    display: flex;

    &-langs {
      flex-grow: 1;
      display: flex;
      font-weight: 900;
      font-size: 9px;
      text-transform: uppercase;
      color: rgba(0, 0, 0, 0.5);

      &-icon {
        width: 13px !important;
        height: 13px !important;
        margin: 0 2px;
        margin-top: -2px;
      }
    }

    &-status {
      display: flex;
      color: rgba(0, 0, 0, 0.3);
      font-weight: 900;
      font-size: 10px;
      text-transform: uppercase;

      .saved & {
        color: #F99E49;
      }

      &-text {
        margin-right: 10px;
      }

      &-icon {
        width: 16px !important;
        height: 16px !important;
        margin-top: -3px;
      }
    }
  }

  &-phrase {
    padding: 10px 15px 0px 15px;
    font-weight: 900;
    font-size: 16px;

    &-to {
      font-size: 12px;
    }
    
    &-from, &-to {
      margin: 0 0 5px;
    }
  }

  &-example {
    display: flex;
    padding: 5px 15px 20px;
    font-style: italic;
    font-size: 12px;

    &-wrapper {
      margin-left: 10px;
    }

    &-from, &-to {
      margin: 0;
    }

    &-from {
      margin-bottom: 10px;
    }
  }
}
