.card {
  margin-bottom: 10px;
  color: rgba(0, 0, 0, 0.7) !important;
  
  &.saved {
    background-color: #3f51b5;
    color: #fff !important;
  }

  &-header {
    padding: 15px 15px 0;
    display: flex;

    &-langs {
      flex-grow: 1;
      display: flex;
      font-weight: 900;
      font-size: 10px;
      text-transform: uppercase;

      &-icon {
        width: 15px !important;
        height: 15px !important;
        margin: 0 5px;
        margin-top: -2px;
      }
    }

    &-status {
      display: flex;
      color: rgba(0, 0, 0, 0.3);
      font-weight: 900;
      font-size: 10px;
      text-transform: uppercase;

      .saved & {
        color: #F99E49;
      }

      &-text {
        margin-right: 10px;
      }

      &-icon {
        width: 18px !important;
        height: 18px !important;
        margin-top: -5px;
      }
    }
  }
  
  &-from {
    padding: 10px 15px 0px 15px;

    &-word {
      margin: 0 0 5px;
      font-weight: 900;
      font-size: 24px;
    }

    &-example {
      margin: 0;
      font-size: 14px;
    }
  }
  
  &-to {
    display: flex;
    padding: 15px;
    font-style: italic;

    &-wrapper {
      margin-left: 10px;
    }

    &-word {
      margin: 0 0 5px;
      font-weight: 900;
      font-size: 14px;
    }

    &-example {
      margin: 0;
      font-size: 14px;
    }
  }
}
