.searchbar {
  display: flex;
  position:relative;
  border-radius: 0 !important;
  padding: 0 14px;

  input {
    flex: 1;
    padding: 20px 0;
  }

  &-autocomplete {
    background-color: white;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
}