.sidebar {
  width: 240px;

  &-profile {
    padding: 30px 30px 10px;
    font-weight: 900;

    &-name {
      margin: 10px 0 10px;
      font-size: 1.2rem;
      color: rgba(0,0,0,0.8);
    }

  }

  &-list {
    padding: 0;

    &-item {
      font-weight: 900;
      font-size: 0.7rem;
      text-transform: uppercase;
      
      a {
        color: #333;
        display: block;
        text-decoration: none;
        padding: 10px 30px;
    
        &:hover,
        &:active {
          background-color: rgba(0,0,0,0.1);
        }
      }

      &.disabled {
        opacity: 0.4;
        padding: 10px 30px;
      }
    }
  }
}
