body {
  background-color: #eee;
  color: rgba(0, 0, 0, 0.8);
  margin: 0;
  font-family: 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  font-family : inherit;
  font-size: 1em;
}

a {
  color: #3f51b5;
  text-decoration: none;
}

.container {
  padding-top: 16px;
  padding-bottom: 56px;
}

.form-top-text {
  margin-bottom: 0;
}

// Search

.searchbar {
  display: flex;
  border-radius: 0 !important;
  padding: 0 14px;

  input {
    flex: 1;
    padding: 20px 0;
  }

  &-autocomplete {
    flex: 1;
  }
}

// Sidebar

.sidebar {
  width: 240px;

  &-profile {
    padding: 30px 30px 10px;
    font-weight: 900;

    &-name {
      margin: 10px 0 10px;
      font-size: 1.2rem;
      color: rgba(0,0,0,0.8);
    }

  }

  &-list {
    padding: 0;

    &-item {
      font-weight: 900;
      font-size: 0.7rem;
      text-transform: uppercase;
      
      a {
        color: #333;
        display: block;
        text-decoration: none;
        padding: 10px 30px;
    
        &:hover,
        &:active {
          background-color: rgba(0,0,0,0.1);
        }
      }

      &.disabled {
        opacity: 0.4;
        padding: 10px 30px;
      }
    }
  }
}

// Bottom nav

.bottom-nav {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
}

// List bottom

.bottom {
  padding: 15px;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: 900;
  color: rgba(0,0,0,0.4);
}

// List header

.list-header {
  padding: 20px 0 10px;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 700;
  color: rgba(0,0,0,0.7);
}

// Lang switch

.lang-switch {
  background-color: #3f51b5;
  color: #fff;
  justify-content: center;
}

// Card

.card {
  margin-bottom: 10px;

  &.saved {
    background-color: #3f51b5;
    color: #fff;
  }

  &-header {
    padding: 15px 15px 0;
    display: flex;

    &-langs {
      flex-grow: 1;
      display: flex;
      font-weight: 900;
      font-size: 10px;
      text-transform: uppercase;

      &-icon {
        width: 15px !important;
        height: 15px !important;
        margin: 0 5px;
        margin-top: -2px;
      }
    }

    &-status {
      display: flex;
      color: rgba(0, 0, 0, 0.3);
      font-weight: 900;
      font-size: 10px;
      text-transform: uppercase;

      .saved & {
        color: #F99E49;
      }

      &-text {
        margin-right: 10px;
      }

      &-icon {
        width: 18px !important;
        height: 18px !important;
        margin-top: -5px;
      }
    }
  }
  
  &-from {
    padding: 10px 15px 0px 15px;

    &-word {
      margin: 0 0 5px;
      font-weight: 900;
      font-size: 24px;
    }

    &-example {
      margin: 0;
      font-size: 14px;
    }
  }
  
  &-to {
    display: flex;
    padding: 15px;
    font-style: italic;

    &-wrapper {
      margin-left: 10px;
    }

    &-word {
      margin: 0 0 5px;
      font-weight: 900;
      font-size: 14px;
    }

    &-example {
      margin: 0;
      font-size: 14px;
    }
  }
}

// Vocabulary

.vocabulary-item {
  padding: 10px 0;
  display: flex;
  border-top: 1px solid rgba(0,0,0,0.1);

  &:first-child {
    border-top: 0;
  }
  
  &-content {
    flex-grow: 1;
  }

  &-langs {
    flex-grow: 1;
    display: flex;
    padding-bottom: 5px;
    font-weight: 900;
    font-size: 10px;
    text-transform: uppercase;
    color: rgba(0,0,0,0.4);

    &-icon {
      width: 12px !important;
      height: 12px !important;
      margin: 0 5px;
      margin-top: -2px;
    }
  }

  &-from {
    font-weight: 700;
    font-size: 20px;
  }

  &-to {
    font-weight: 400;
    font-size: 14px;
    padding-left: 10px;
  }

  &-date {
    padding-top: 10px;
    font-weight: 900;
    font-size: 8px;
    color: rgba(0,0,0,0.4);
  }

  &-delete {
    color: rgba(0, 0, 0, 0.2) !important;
  }
}

// Lang switch

.lang-switch {
  display: flex;
  flex: 1;

  &-btn {
    margin-right: 6px !important;
  }
}

// Quick buttons

.quick-btn {
  position: fixed !important;
  bottom: 65px;

  &-translate { right: 25px }
  &-lang {
    &-1 { right: 95px }
    &-2 { right: 142px }
    &-3 { right: 190px }
  }
}

// Profile

.profile {
  display: flex;
  margin-bottom: 20px;

  &-data {
    margin-left: 10px;
  }

  &-name {
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 5px;
  }
}

// Switch button

.lang-switch-button {
  text-transform: uppercase;
}

// Lang choose

.lang-btn-group {
  button {
    border: 0 !important;
  }
}